<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" 
             value="DefaultEndpointsProtocol=https;AccountName=rpscore;AccountKey=PlmX8pd71F54Acu/pf6+xtUmm8w6E1QwC/TaS/bT1FVg5sp1Uw8CaiU5tSM89Xe43SxQeMMlQbCS6eGo7gxTew==;" />
    </appSettings>
</configuration>